body {
    background-color: #FF79D1;
}

h1 {
    color: white;
}

p {
    margin: 10px;
}

.question {
    color: white;
    font-style: italic;
    font-size: medium;
}

.answer {
    text-align: center;
    margin: 50px;
}

.header {
    text-align: center;
    margin: 50px;
}

.content {
    text-align: center;
    margin: 50px;
}