body {
    background-color: #ffbbe8;
}

h1 {
    color: white;
}

p {
    margin: 10px;
}

.question {
    font-family: 'Raleway', serif;
    color: white;
    font-style: italic;
    font-size: 32px;
    text-align: center;
}

.answer {
    text-align: center;
    margin: 50px;
    font-family: 'Playfair Display', serif;
}

.header {
    font-family: 'Raleway', serif;
    text-align: center;
    margin: 50px;
    font-size: 48px;
    color:white;
}

.content {
    margin: 100px;
}